@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	font-family: 'Roboto', sans-serif !important; 
}

@media (max-width: 900px) {
	.logo-large {
		display: none;
	}

	.logo-small {
		display: block;
	}
}

@media (min-width: 900px) {
	.logo-large {
		display: block;
	}

	.logo-small {
		display: none;
	}
}